.container{
    display: flex;
    justify-content: center;
    flex-flow: nowrap row;
}
button{
    background-color: #e8e8e8;
    border: none;
    color: #000000;
    font-size: xx-large;
}
button:hover{
    background-color: #cccccc;
    cursor: pointer;
}

.firstImg{
    background-image: url("img/1.jpg");
    width: 500px;
    height: 576px;
}

.secondImg{
    background-image: url("img/2.jpg");
    width: 500px;
    height: 747px;
}

.thirdImg{
    background-image: url("img/3.jpg");
    width: 500px;
    height: 603px;
}